<!DOCTYPE html>
<html lang="en">
<head>
  <title>Woktok</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>
<body>
    <div class="video-conference-container">
      <div class="video-section">
        <div class="header">
          <h1>Wok<span>Tok</span></h1>
          <h2>Personal Chatroom</h2>
          <div></div>
        </div>
        <div class="main-video">
          <video id="user-1" autoplay="autoplay" playsinnline="playsinnline"></video>
        <div class="participants">
          <video id="user-2" autoplay="autoplay" playsinnline="playsinnline"></video>
          <video id="user-3" autoplay="autoplay" playsinnline="playsinnline"></video>
          <video id="user-4" autoplay="autoplay" playsinnline="playsinnline"></video>
          <video id="user-5" autoplay="autoplay" playsinnline="playsinnline"></video>
        </div>
    </div>
        <div class="video-controls">
          <button class="normal">🎥</button>
          <button class="normal">🎤</button>
          <button class="hang">📞</button>
          <button class="normal">🎤</button>
        </div>
        <div class="club-banner">
          <img src="https://placehold.co/600x340" alt="clubs" />
        </div>
        </div>
      <div class="messages-section">
        <div class="messages-header">
          <h3>View Messages</h3>
        </div>
        <div class="messages">
          <div class="message">
            <strong>Dhruv Papa</strong>
            <p>Please send me project code</p>
          </div>
          <div class="message">
            <strong>Aasmaan</strong>
            <p>I have it on Google Drive</p>
          </div>
          <div class="message">
            <strong>Guru paaji</strong>
            <p>I want it too.</p>
          </div>
          <div class="message">
            <strong>Guptiyaa</strong>
            <p>Loda lelo mera</p>
          </div>
        </div>
        <div class="message-input">
          <input type="text" placeholder="Write your message" />
          <button class="msg-send-button">➤</button>
        </div>
      </div>
    </div>
  </body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</html>
  