<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=devZice-width, initial-scale=1.0" />
    <title>WokTok</title>
    <link rel="stylesheet" href="/css/text.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<body>
    <div class="text-container">
      <div class="text-section">
        <div class="text-top">
          <h1>Wok<span>Tok</span></h1>
          <h2>Random Text Chat</h2>
          <div></div>
        </div>
        <div class="logo">
            <img src="/img/logo.png" alt="WokTok">
          </div>
        <div class="messages-section">
          <div class="messages-header">
            <h3>View Messages</h3>
          </div>
          <div class="messages">
          </div>
          <div class="message-input">
            <input type="text" placeholder="Write your message" />
            <button class="msg-send-button">➤</button>
          </div>
        </div>
        <div class="profile-section">
          <img src="https://placehold.co/365x708" alt="clubs"/>
        </div>
        <div class="attach">
          <img src="/img/attach.png" alt="Attach" style="height: 30px; width: 30px;">
        </div>
        <div class="next-chat">
          <img src="/img/next-chat.png" alt="Next Chat" style="height: 110px; width: 150px;">
        </div>
      </div>
      <div class="club-banner">
        <img src="https://placehold.co/365x708" alt="clubs"/>
      </div>
    </div>
  </body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</html>