<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=devZice-width, initial-scale=1.0" />
    <title>WokTok</title>
    <link rel="stylesheet" href="/css/hello.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
    <div class="video-conference-container">
      <div class="video-section">
        <div class="header">
          <h1>Wok<span>Tok</span></h1>
          <h2>Personal Chatroom</h2>
          <div></div>
        </div>
        <div class="main-video">
          <video id="user-1" autoplay="autoplay" playsinnline="playsinnline"></video>
        <div class="participants">
          <video id="user-2" autoplay="autoplay" playsinnline="playsinnline"></video>
        </div>
    </div>
        <div class="video-controls">
          <img id="cameraBtn" src="/img/cam-on.png" alt="Camera On" onclick="toggleCamera()" style="height: 60px; width: 60px;">
          <img id="micBtn" src="/img/mic-on.png" alt="Microphone" onclick="toggleMicrophone()" style="height: 60px; width: 60px;">
          <img src="/img/end-call.png" alt="Next" style="height: 60px; width: 60px;">
          <img id="next-chat" src="/img/next.png" alt="Next Chat" onclick="runUser()" style="height: 60px; width: 60px;">
        </div>
        <div class="club-banner">
          <img src="https://placehold.co/600x340" alt="clubs"/>
        </div>
      </div>
      <div class="messages-section">
        <div class="messages-header">
          <h3>View Messages</h3>
        </div>
        <div class="messages">
        </div>
        <div class="message-input">
          <input id="msg-input" type="text" placeholder="Write your message" />
          <button class="msg-send-button">➤</button>
        </div>
      </div>
    </div>
  </body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</html>